# Neon에서 복사한 Pooled connection string
DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.neon.tech/DBNAME?sslmode=require"

# Neon에서 복사한 Direct connection string
DIRECT_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require"
